{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>base</title>
        <link rel = "stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <main>
            <div class="signup-form">
                <h1>Signup</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>