{% extends 'base.html' %}
{% block content %}
        <main>
            <div>
                <h1>Do you want to delete this project?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button> Delete </button>
                </form>
            </div>
        </main>
{% endblock content %}