{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}"> Create a new Project </a>
            {% if user.projects.all %}
                <table>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Number of Tasks </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> You are not assigned to any projects </p>
            {% endif %}
        </div>
    </main>
{% endblock content %}